h1{
    text-align: center;
    font-size: 50px;

}




#nojs, #help {
    margin: 10px auto; 
    text-align: center; 
    display: block; 
    width: 60%; 
    max-width: 300px;
}


#help {
    background-color: yellow; 
    padding: 15px;
    border: 2px solid black; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}


.hide{
    visibility: hidden;
}