body {
    height: 100%;
    margin: 0;
    font-family: 'Arial';
    font-size: 36px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label, input, button {
    width: 100%;
    margin-top: 10px;
}

h1#message {
    font-family: 'Mea Culpa', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 96px;
}

button{

    font-family: 'Arial', cursive;
}